<div class="container">
  <h2>Login</h2>
  <form>
    <div class="form-group">
      <label for="userName">username:</label>
      <input
        class="form-control input-login"
        type="text"
        name="userName"
        id="userName"
        required
        [(ngModel)]="userName"
      />
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input
        type="password"
        name="password"
        class="form-control input-login"
        id="password"
        required
        [(ngModel)]="password"
      />
    </div>
    <button type="button" class="btn" (click)="onSubmit()">Login</button>
  </form>
</div>
